:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #051819;

    --bg-color: #535353;
    --second-bg-color: #2C2C2C;
    --text-color: #D8DFDF;
    --main-color: white;
    --normal-color: white;
    --orange-color: #FF7300;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }